Membership
  . user should see link for basic plan on home page
  . user should see link for pro plan on home page
  . Basic plan link should point to the regular devise sign up form.
  . Pro plan link should point to custom sign up form

ActiveRecord
Parameters
Substitution

Stripe Integration
 * Users should have a stripe-customer token in the Users table.
 * Javascript should prevent Pro form from submitting, when users fills it out,
  and should end card information to Stripe, which will then return a card token.
 * Javascript will then take the care token and the user fields and card token
  to our rails app for validation. Rails app will keep plan info.
 * Once validated rails should send user info, email + plan id + card token
  to Stripe servers, then stripe will create a subscription and will send 
  back a customer token.
 * Rails should save customer token and user information into the database.
 
  